@font-face {
    font-family: 'Yekan';
    src: url('./assests/fonts/Yekan.ttf');
}

@font-face {
    font-family: 'Lalezar';
    src: url('./assests/fonts/Lalezar.ttf');
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yekan' , 'sans-serif';
}